@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 30rem;
    width: 20rem;
}

audio::-webkit-media-controls-panel {
    background-color: white;
}

/* Hide the default slider handle */
.slider-no-handle::-webkit-slider-thumb {
    opacity: 0;
}

.slider-no-handle::-moz-range-thumb {
    opacity: 0;
}
